
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  max-width: 1920px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10rem;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
}

header > .logo{
  font-size: 2rem;
  font-weight: bold;
}
header .gnb{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.2rem;
}
header a{
  color: var(--Gray90);
  text-decoration: none;
}

.quickMenu{
  position: fixed;
  bottom: 10%;
  right: 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quickMenu__item{
  width: 56px;
  height: 56px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: center;
  align-items: center;

}



/* --------------- 하단영역 --------------- */
footer{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
footer .copyright{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .copyright>span{
  text-align: center;
  font-size: 0.9rem;
  color: var(--Gray50);
}
