@charset "utf-8";
@import url(./sub-common.css);


/* 최상단 배너 */
section.container{
  background: url(../assets/images/shop/visual_shop@2x.jpg) no-repeat fixed center/cover;
}

/* 매장 정보 섹션 */
.shopInfo{
  position: relative;
  width: 1200px;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10%;
}
/* 개별 매장 정보 */
.individualStoreInfo{
  display: none;
}

/* 매장 안내 배너 */
.swiper.shopInfoBanner{
  position: relative;
  /* width: 700px; */
  width: 55%;
  margin-left: 0;
  margin-right: 0;
}
.shopInfoBanner__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 18px;
  text-align: center;
}
.shopInfoBanner__slide img {
  width: 100%;
  object-fit: cover;
}
.shopInfoBanner__slide figcaption{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.shopInfoBanner__slide figcaption::before{
  content: '';
  display: block;
  width: 32px;
  height: 12px;
  background: url(../assets/svg/ico_reply.svg) no-repeat center/cover;
}
/* 페이지네이션 */
.shopInfoBanner .swiper-pagination.shopInfoBanner__pagination{
  position: relative;
  top: -18px;
  bottom: 0;
}
/* 불릿 */
.shopInfoBanner .swiper-pagination-bullet{
  width: 20px;
  height: 2px;
  border-radius: unset;
}
.shopInfoBanner .swiper-pagination-bullet-active{
  background: var(--Gray80);
}

/* 매장 목록 */
.accordion{
  width: 35%;
  display: flex;
  flex-direction: column;
}
.accordion .accordion__trigger{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: none;
  border-top: 1px solid var(--Gray80);
  font-size: 16px;
  text-align: left;
}
#accordion5id{
  animation: deactive 0.01s 0.3s forwards;
}
.accordion__icon{
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/svg/ico_arrowB.svg) no-repeat center/cover;
}
.accordion__panel{
  padding: 20px 10px;
  overflow-y: hidden;
  border-top: 1px solid var(--Gray20);
}
.accordion__panel:last-of-type{
  border-bottom: 1px solid var(--Gray80);
}
.accordion__panel div[role="tablist"]{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;
}
.accordion__panel button{
  padding: 0;
  background-color: #fff;
  border: none;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
/* 아코디언 UI 활성화 */
#accordion5id.active{
  animation: active 0.3s forwards;
}
.accordion__trigger.active .accordion__title{
  font-weight: bold;
}
.accordion__trigger.active .accordion__icon{
  /* background-color: red; */
  fill: red;
}
@keyframes deactive {
  from{
    border-bottom: 1px solid transparent;
  }
  to{
    border-bottom: 1px solid var(--Gray80);
  }
}
@keyframes active {
  from{
    border-bottom: 1px solid var(--Gray80);
  }
  to{
    border-bottom: 1px solid transparent;
  }
}

/* 탭 패널 */
div[role="tabpanel"]{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 55%;
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
  /* 비활성화 패널들 숨겨두기 */
  display: none;
}
div[role="tabpanel"]>.title{
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
}
div[role="tabpanel"]>.contactInformation{
  margin-top: 30px;
  padding-bottom: 50px;
}
div[role="tabpanel"] dt{
  margin-bottom: 10px;
}
div[role="tabpanel"] dd{
  margin-bottom: 30px;
}
div[role="tabpanel"]>img{
  width: 100%;
}

/* 탭 UI 활성화 */
button[aria-selected="true"]{
  font-weight: bold;
  color: #18A957 ;
}
div[role="tabpanel"].active{
  display: block;
}