@charset "utf-8";
@import url(./sub-common.css);

/* 최상단 배너 */
section.container{
  background: url(../assets/images/spa/visual_spa_info@2x.jpg) no-repeat fixed center/cover;
}

/* 콘텐츠 영역 */
section.spaUseInfo{
  width: 800px;
  padding-top: 100px;
  margin-bottom: 100px;
}
.spaUseInfo__title{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.accordion{
  display: flex;
  flex-direction: column;
}
.accordion .accordion__trigger{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: none;
  border-top: 1px solid var(--Gray80);

  font-weight: bold;
  font-size: 18px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.accordion .accordion__trigger::after{
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: red;
}
.accordion h3:last-of-type .accordion__trigger{
  animation: deactive 0.01s 0.5s forwards;
  border-bottom: 1px solid var(--Gray80);
}
.accordion__panel{
  padding: 20px 10px;
  overflow-y: hidden;
  border-top: 1px solid var(--Gray20);
}
.accordion__panel:last-of-type{
  border-bottom: 1px solid var(--Gray80);
}
.accordion__panel em{
  color: #18A957;
}
.accordion__panel .textBox p{
  line-height: 1.5;
}
/* 아코디언 활성화 */
.accordion h3:last-of-type .accordion__trigger.active{
  animation: active 0.3s forwards;
}
@keyframes deactive {
  from{
    border-bottom: 1px solid transparent;
  }
  to{
    border-bottom: 1px solid var(--Gray80);
  }
}
@keyframes active {
  from{
    border-bottom: 1px solid var(--Gray80);
  }
  to{
    border-bottom: 1px solid transparent;
  }
}

/* 모바일 사이트 안내 배너 */
.goMobile{
  position: relative;
  max-width: none;
  width: 100vw;
  height: 350px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  background: url(../assets/images/spa/spa_mo@3x.jpg) no-repeat center/cover;
}
.goMobile::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.goMobile .title{
  height: 0;
  margin: 0;
  overflow: hidden;
}
.goMobile > .contentBox{
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 50px;
}
.goMobile img{
  width: 150px;
  height: 150px;
}
.goMobile .desc{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}
