@charset "utf-8";
@import url(./sub-common.css);


/* 해당 페이지 공통 사항 */
em{
  color: #18A957;
}

/* 최상단 배너 */
section.container{
  background: url(../assets/images/spa/visual_spa_info@2x.jpg) no-repeat fixed center/cover;
}

/* 콘텐츠 영역 */
section.spaUseInfo{
  width: 800px;
  padding-top: 100px;
  margin-bottom: 100px;
}
.spaUseInfo__title{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.spaUseInfo .explanation{
  padding: 30px 0 50px;
  text-align: center;
  line-height: 1.4;
}
.accordion{
  display: flex;
  flex-direction: column;
}
.accordion .accordion__trigger{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: none;
  border-top: 1px solid var(--Gray80);

  font-weight: bold;
  font-size: 18px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.accordion .iconAccordion{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 6px;
}
.accordion h3:last-of-type .accordion__trigger{
  animation: deactive 0.01s 0.3s forwards;
  /* border-bottom: 1px solid var(--Gray80); */
}
.accordion__panel{
  padding: 20px 10px;
  overflow-y: hidden;
  border-top: 1px solid var(--Gray20);
}
.accordion__panel:last-of-type{
  border-bottom: 1px solid var(--Gray80);
}

.accordion__panel .textBox p{
  line-height: 1.5;
}
/* 아코디언 활성화 */
.accordion h3:last-of-type .accordion__trigger.active{
  animation: active 0.3s forwards;
}
.accordion__trigger.active>.iconAccordion{
  transform: rotate(180deg);
  fill: var(--Gray20);
}
@keyframes deactive {
  from{
    border-bottom: 1px solid transparent;
  }
  to{
    border-bottom: 1px solid var(--Gray80);
  }
}
@keyframes active {
  from{
    border-bottom: 1px solid var(--Gray80);
  }
  to{
    border-bottom: 1px solid transparent;
  }
}

/* 모바일 사이트 안내 배너 */
.goMobile{
  position: relative;
  max-width: none;
  width: 100vw;
  height: 350px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  background: url(../assets/images/spa/spa_mo@3x.jpg) no-repeat center/cover;
}
.goMobile::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.goMobile .title{
  height: 0;
  margin: 0;
  overflow: hidden;
}
.goMobile > .contentBox{
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 50px;
}
.goMobile img{
  width: 150px;
  height: 150px;
}
.goMobile .desc{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}

/* 구매 방법 */
.step{
  margin-bottom: 100px;
  text-align: center;
}
.step .title{
  font-weight: bold;
  font-size: 2rem;
}
.step .explanation{
  padding: 30px 0 50px;
  line-height: 1.4;
}
.step img{
  width: 250px;
}
.step .sequenceBox{
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #FAFAFA;
}
.sequenceBox>li{
  position: relative;
}
.step .sequenceBox>li:not(:last-child)::after{
  content: '';
  position: absolute;
  top: 50%;
  right: -8%;
  z-index: 1;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='m.38,19.23c-.5-.5-.5-1.31,0-1.81l7.7-7.62L.38,2.18c-.5-.5-.5-1.31,0-1.81.5-.5,1.32-.5,1.83,0l8.62,8.52c.5.5.5,1.31,0,1.81L2.21,19.23c-.5.5-1.32.5-1.83,0Z' style='fill: %23bdbdbd; fill-rule: evenodd; stroke-width: 0px;'/%3E%3C/svg%3E") no-repeat center/cover;
}


/* 주의사항 */
section.precautions{
  width: 800px;
  padding-top: 100px;
  margin-bottom: 100px;
}
.precautions__title{
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}
.precautions .explanation{
  padding: 30px 0 50px;
  text-align: center;
  line-height: 1.4;
}
.precautions .classification{
  padding: 50px 0 0 50px;
}
.precautions ul{
  list-style: inside;
}
.precautions .textBox>p{
  margin-bottom: 20px;
}
.precautions li{
  margin-bottom: 10px;
}
.precautions .classification>dt{
  margin-bottom: 10px;
  font-weight: bold;
}
.precautions .classification>dd{
  margin-bottom: 30px;
}