@charset "utf-8";
@import url(./sub-common.css);

/* 최상단 배너 */
section.container{
  background: url(../assets/images/spa/visual_spa@2x.jpg) no-repeat fixed center/cover;
}


/* 콘텐츠 영역 */
section.contentArea{
  margin-bottom: 200px;
  width: 1400px;
  /* width: 1200px; */
}
.contentArea>.contentArea__intro{
  padding: 0;
}
.contentArea__intro .wrapper{
  width: 85%;
  margin: 0 auto 100px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.contentArea__intro .videoBox{
  width: 85%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  /* background-color: #363636; */
}
.contentArea__intro iframe{
  width: 100%;
  height: 100%;
  border: none;
}
.contentArea__intro .textBox{
  width: 60%;
}
.contentArea__intro .explanation:not(:first-child){
  padding: 5px 0;
}
.linkBox{
  width: 30%;
}
.linkBox .link{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.linkBox .link::after{
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(-10px);
  background: url(../assets/svg/ico_link_move.svg) no-repeat center/cover;
  transition: transform .5s;
}
.linkBox .link:hover::after{
  transform: translateY(-50%) translateX(0);
}

/* 트리트먼트 종류 */
.contentArea>.treatmentTab{
  padding: 0;
}
#treatment__tablist{
  height: 0;
  overflow: hidden;
}
.treatmentTab .wrapper{
  width: 85%;
  margin: 0 auto 200px;
  padding-top: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* border: 1px solid #000; */
}
/* 탭 리스트 */
.treatment__tablist{
  width: 30%;
  display: flex;
  flex-direction: column;
}
button[role="tab"]{
  margin: 0;
  padding: 20px 0;
  background-color: #fff;
  border: none;
  border-top: 1px solid #000;
  text-align: left;
  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';

  cursor: pointer;
}
button[role="tab"]:last-child{
  border-bottom: 1px solid #000;
}
/* 탭 패널 */
.tabPanelArea{
  width: 60%;
}
div[role="tabpanel"]{
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
  /* 비활성화 패널들 숨겨두기 */
  display: none;
}
div[role="tabpanel"]>.title{
  padding-top: 30px;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: bold;
}
div[role="tabpanel"]>.contactInformation{
  padding-top: 50px;
}
div[role="tabpanel"] dt{
  margin-bottom: 5px;
  font-weight: bold;
}
div[role="tabpanel"] dd{
  margin-bottom: 30px;
}
div[role="tabpanel"]>img{
  width: 100%;
  padding-top: 100px;
}
div[role="tabpanel"] .link{
  display: block;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 65px;
  text-decoration: none;
  color: #000;
}
div[role="tabpanel"] .link:hover{
  background-color: var(--Gray100);
  border: 1px solid #fff;
  color: #fff;
}
/* 탭 UI 활성화 */
button[aria-selected="true"]{
  font-weight: bold;
  color: #18A957 ;
}
div[role="tabpanel"].active{
  display: block;
}

/* 스파 이용방법 안내 배너 */
.contentArea .howToUse{
  position: relative;
  width: 1400px;
  height: 350px;
  margin: 0 auto 100px;
  padding: 0;
  display: flex;
  align-items: center;
  background: url(../assets/images/spa/spa_mo@3x.jpg) no-repeat center/cover;
}
.howToUse::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.howToUse > img{
  position: absolute;
  left: 200px;
  z-index: 1;
  width: 150px;
  height: 150px;
}
.howToUse > .contentBox{
  position: absolute;
  left: calc(200px + 150px);
  z-index: 1;
  padding: 0 0 0 50px;
}
.howToUse .title{
  height: 0;
  margin: 0;
  overflow: hidden;
}
.howToUse .desc{
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}
.howToUse .link{
  display: block;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #fff;
  
  text-align: center;
  line-height: 65px;
  text-decoration: none;
  color: #fff;
}
.howToUse .link:hover{
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}

/* 스파 매장 안내 */
article.branchInfo{
  width: 85%;
  margin: 0 auto;
  padding: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.branchInfo__title{
  margin-bottom: 30px;
  font-size: 18px;
  letter-spacing: 4px;
}
.branchInfo>figure figcaption{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
}
.branchInfo>figure figcaption::before{
  content: '';
  display: inline-block;
  width: 32px;
  height: 12px;
  background: url(../assets/svg/ico_reply.svg) no-repeat center/cover;
}
.accordion{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.accordion .accordion__trigger{
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: none;
  border-top: 1px solid var(--Gray80);

  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.accordion .iconAccordion{
  width: 24px;
  height: 24px;
  position: absolute;
  right: 6px;
}
.accordion h3:last-of-type .accordion__trigger{
  animation: deactive 0.01s 0.3s forwards;
  /* border-bottom: 1px solid var(--Gray80); */
}
.accordion__panel{
  padding: 20px 10px;
  overflow-y: hidden;
  border-top: 1px solid var(--Gray20);
}
.accordion__panel:last-of-type{
  border-bottom: 1px solid var(--Gray80);
}
.contactInformation>dt{
  margin-bottom: 5px;
  font-weight: bold;
}
.contactInformation>dd{
  margin-bottom: 30px;
}
.accordion__panel .link {
  display: block;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #000;
  text-align: center;
  line-height: 65px;
  text-decoration: none;
  color: #000;
}
.accordion__panel .link:hover {
  background-color: var(--Gray100);
  border: 1px solid #fff;
  color: #fff;
}

/* 아코디언 활성화 */
.branchInfo .accordion__trigger.active{
  font-weight: bold;
}
.accordion h3:last-of-type .accordion__trigger.active{
  animation: active 0.3s forwards;
}
.accordion__trigger.active>.iconAccordion{
  transform: rotate(180deg);
  fill: var(--Gray20);
}
@keyframes deactive {
  from{
    border-bottom: 1px solid transparent;
  }
  to{
    border-bottom: 1px solid var(--Gray80);
  }
}
@keyframes active {
  from{
    border-bottom: 1px solid var(--Gray80);
  }
  to{
    border-bottom: 1px solid transparent;
  }
}
.branchInfo>figure:not(.active){
  display: none;
}