@charset "utf-8";

/* 최상단 배너 */
section{
  max-width: 1920px;
  margin: 0 auto;
}
section.container{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.container>.contentBox{
  position: absolute;
  bottom: 20%;
  left: 15%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container *{
  color: #fff;
}
.container .title{
  font-size: 1.3rem;
}
.container .subTitle{
  font-size: 4rem;
  font-weight: bold;
}

/* LNB 메뉴 */
.lnb{
  max-width: 1920px;
  height: 64px;
  margin: 0 auto;
  box-sizing: border-box;
}
.lnbMenu{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.lnbMenu::after{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: var(--Gray30);
}
.lnbMenu__item{
  position: relative;
  color: var(--Gray80);
  font-size: 1.2rem;
}
.lnbMenu__item a{
  height: 64px;
  display: flex;
  align-items: center;
}
.lnbMenu__item.active a{
  color: #18A957;
  font-weight: bold;
}
.lnbMenu a:hover{
  color: #18A957;
  font-weight: bold;
}
.lnbMenu__item a::after{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: var(--Gray30);
}
.lnbMenu__item.active a::after{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #18A957;
}
/* 활성화 */
.lnb.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  transition: transform .3s;
  animation: active .3s;
}
/* 헤더 + lnb로 영역 확장시 */
.lnb.active.extension{
  transform: translateY(71px);
  transition: transform .3s;
}
@keyframes active {
  0%{
    top: 71px;
  }
  100%{
    top: 0px;
  }
}
/* 모바일 사이즈일 경우 */
.lnb.active.extension.mobile{
  transform: translateY(110px);
  transition: transform .3s;
}

/* 메인 컨텐츠 */
section.contentArea{
  margin-bottom: 100px;
  padding-top: 100px;
}
.contentArea>article{
  padding-left: 20%;
  padding-bottom: 150px;
}
.contentArea .title{
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.4;
}
.contentArea__infoTop .contentBox .title{
  text-indent: -20px;
}
.contentArea article .explanation{
  line-height: 1.4;
}
.contentArea figure{
  width: 704px;
  height: 560px;
}
.contentArea figure>img{
  width: 100%;
  object-fit: cover;
}
.contentArea__infoMain{
  display: flex;
  gap: 100px;
}
.contentArea__infoMain .contentBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------------- 미디어쿼리 --------------- */
@media screen and (max-width: 1500px) {
  /* 러쉬 소개의 각 아티클들 */
  .contentArea>article{
    max-width: fit-content;
    margin: 0 auto;
    padding-left: 0;
  }
  /* 러쉬 소개의 텍스트박스 */
  .contentArea__infoMain .contentBox{
    width: 400px;
  }
}
/* 노트북, 태블릿 가로 기준 */
@media all and (min-width: 1024px) and (max-width: 1279px) {
  /* 러쉬 소개의 메인 아티클들 */
  .contentArea__infoMain{
    flex-direction: column;
    gap: 50px;
  }
  /* 러쉬 소개의 각 아티클 이미지 */
  .contentArea figure{
    width: 60%;
    height: 40%;
    margin: 0 auto;
  }
  /* 러쉬 소개의 텍스트박스 */
  .contentArea__infoMain .contentBox{
    margin: 0 auto;
    text-align: center;
  }
}
/* 태블릭 가로 기준 */
@media all and (min-width: 768px) and (max-width: 1023px) {
  /* 러쉬 소개의 메인 아티클들 */
  .contentArea__infoMain{
    flex-direction: column;
    gap: 50px;
  }
  /* 러쉬 소개의 각 아티클 이미지 */
  .contentArea figure{
    width: 60%;
    height: 40%;
    margin: 0 auto;
  }
  /* 러쉬 소개의 텍스트박스 */
  .contentArea__infoMain .contentBox{
    margin: 0 auto;
    text-align: center;
  }
}
/* 모바일 가로, 태블릿 세로 기준 */
@media all and (min-width: 480px) and (max-width: 767px) {
  /* 최상단 배너 */
  .container>.contentBox{
    max-width: 340px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container .title{
    font-size: 20px;
  }
  .container .subTitle{
    font-size: 30px;
  }
  .container .desc{
    word-break: keep-all;
  }
  /* 첫번째 아티클 */
  .contentArea__infoTop{
    width: 80%;
  }
  /* 타이틀 공통 */
  .contentArea .title{
    font-size: 25px;
  }
  /* 첫번째 아티클 제외한 나머지 아티클 */
  .contentArea__infoMain{
    flex-direction: column;
    gap: 50px;
  }
  /* 러쉬 소개의 첫번째 아티클 제외한 나머지 아티클 이미지 */
  .contentArea figure{
    width: 60%;
    height: 40%;
    margin: 0 auto;
  }
  /* 러쉬 소개의 첫번째 아티클 제외한 나머지 텍스트박스 */
  .contentArea__infoMain .contentBox{
    margin: 0 auto;
    text-align: center;
  }
}
/* 모바일 세로 기준 */
@media all and (max-width: 479px) {
  /* 최상단 배너 */
  .container>.contentBox{
    /* max-width: 340px; */
    left: 50%;
    transform: translateX(-50%);
  }
  .container .title{
    word-break: keep-all;
    font-size: 20px;
  }
  .container .subTitle{
    word-break: keep-all;
    font-size: 30px;
  }
  .container .desc{
    word-break: keep-all;
  }
  /* 첫번째 아티클 */
  .contentArea__infoTop{
    width: 80%;
  }
  /* 타이틀 공통 */
  .contentArea .title{
    font-size: 25px;
  }
  /* 첫번째 아티클 제외한 나머지 아티클 */
  .contentArea__infoMain{
    flex-direction: column;
    gap: 50px;
  }
  /* 러쉬 소개의 첫번째 아티클 제외한 나머지 아티클 이미지 */
  .contentArea figure{
    width: 60%;
    height: 40%;
    margin: 0 auto;
  }
  /* 러쉬 소개의 첫번째 아티클 제외한 나머지 텍스트박스 */
  .contentArea__infoMain .contentBox{
    margin: 0 auto;
    text-align: center;
  }
}